<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Author Form</title>
</head>
<body>
    <h1>Add author</h1>
    <form action="/add_author" method="POST">
        <label for="author_name">Name:</label><br>
        <input type="text" id="author_name" name="author_name"><br>
        <label for="birth_date">Birthdate (YYYY-MM-DD):</label><br>
        <input type="text" id="birth_date" name="birth_date"><br>
        <label for="date_of_death">Date of death (YYYY-MM-DD):</label><br>
        <input type="text" id="date_of_death" name="date_of_death"><br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>


<!--author_id = sa.Column(sa.Integer, primary_key=True, autoincrement=True)
    author_name = sa.Column(sa.String)
    birth_date = sa.Column(sa.Date)
    date_of_death = sa.Column(sa.Date)-->