{% extends 'base.html' %}

{% block head %}
    <title>Books Alchemy Library Long Support</title>
{% endblock %}

{% block body %}
    <h1>Welcome to BALLS</h1>
    <h3>Books Alchemy Library Long Support</h3>

    <table>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Cover Photo</th>
            <th>Author ID</th>
            <th>Publication Year</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td>{{ 'cover - WIP' }}</td>
                <td>{{ book.author_id }}</td>
                <td>{{ book.publication_year }}</td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}