{% extends 'base.html' %}

{% block head %}
    <title>My BALLS</title>
{% endblock %}

{% block body %}
    <h1>Welcome to my BALLS</h1>
    <h3>Books Alchemy Library Long Support</h3>

    <form method="GET" action="{{ url_for('home') }}">
        <input type="text" name="search_query" placeholder="Search by title or author" value="{{ request.args.get('search_query', '') }}">
        <button type="submit">Search</button>
    </form>

    <a href="{{ url_for('home', sort_by='book_id') }}">Sort by Book ID</a><br>
    <a href="{{ url_for('home', sort_by='title_asc') }}">Sort by Title (A-Z)</a><br>
    <a href="{{ url_for('home', sort_by='title_desc') }}">Sort by Title (Z-A)</a><br>
    <a href="{{ url_for('home', sort_by='year_asc') }}">Sort by Year (Oldest First)</a><br>
    <a href="{{ url_for('home', sort_by='year_desc') }}">Sort by Year (Newest First)</a><br>


    <table>
        <tr>
            <th>Book ID</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Cover Photo</th>
            <th>Author</th>
            <th>Publication Year</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.book_id }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.isbn }}</td>
                <td><img src="{{ book.book_cover }}"></td>
                <td>{{ book.author.author_name }}</td>
                <td>{{ book.publication_year }}</td>
            </tr>
        {% endfor %}

    </table>
    <a href="/add_book">Add a book to the database</a>
    <br><br>
    <a href="/add_author">Add an author to the database</a>

{% endblock %}